html{
	direction:ltr;
}
*{
	box-sizing: border-box;
}
body{
    margin: 0px;;
 padding: 0px;
overflow-x: hidden;
overflow-y: hidden;
}
.overlay{
overflow: hidden;
}
img{
	width: 100%;
}

.lower_left
 {
	position: absolute;
	bottom: 0%;
	left: 0;
}
.left-side{
	left: 0;
}
.upper_right {
	position: absolute;
	top: 0;
	right: 0%;
}
.lower_right {
	position: absolute;
	bottom: 0%;
	right: 0%;
}
.logo {
	position: absolute;
	top: 0;
    right: 0%;
   
}
.img-clender{
	position: absolute;
	z-index: 2;
}
form{
	z-index: 1;
	position: absolute;
	bottom: 40%;
}